/*table,th,td {*/
/*  border: 1px solid black;*/
/*}*/

/*table {*/
/*  border-collapse:  collapse;*/
/*  width: 90%;*/
/*}*/
th{
  height: 50px;
  color: red;

}

.A{
  color: black;
}

.headings{
  font-weight: bold;
}
table {
  min-width: 60% !important;
  margin: auto;
}

.mainheadings{
  color: blue;
}
